trunk/SistemaConservadora/Service References/CondominioWeb/CondominioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetornaLista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaListaResult" type="tns:ArrayOfCondominio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCondominio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="condominio" nillable="true" type="tns:condominio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="condominio">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="idcondominios" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="endereco" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaItemResult" type="tns:condominio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvaCondominio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="condominio" type="tns:condominio" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvaCondominioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SalvaCondominioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionaCondominio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="condominio" type="tns:condominio" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionaCondominioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdicionaCondominioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Apagar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApagarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApagarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornaListaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaLista" />
  </wsdl:message>
  <wsdl:message name="RetornaListaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaListaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaItemSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaItem" />
  </wsdl:message>
  <wsdl:message name="RetornaItemSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaItemResponse" />
  </wsdl:message>
  <wsdl:message name="SalvaCondominioSoapIn">
    <wsdl:part name="parameters" element="tns:SalvaCondominio" />
  </wsdl:message>
  <wsdl:message name="SalvaCondominioSoapOut">
    <wsdl:part name="parameters" element="tns:SalvaCondominioResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionaCondominioSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionaCondominio" />
  </wsdl:message>
  <wsdl:message name="AdicionaCondominioSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionaCondominioResponse" />
  </wsdl:message>
  <wsdl:message name="ApagarSoapIn">
    <wsdl:part name="parameters" element="tns:Apagar" />
  </wsdl:message>
  <wsdl:message name="ApagarSoapOut">
    <wsdl:part name="parameters" element="tns:ApagarResponse" />
  </wsdl:message>
  <wsdl:portType name="CondominioWebSoap">
    <wsdl:operation name="RetornaLista">
      <wsdl:input message="tns:RetornaListaSoapIn" />
      <wsdl:output message="tns:RetornaListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaItem">
      <wsdl:input message="tns:RetornaItemSoapIn" />
      <wsdl:output message="tns:RetornaItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvaCondominio">
      <wsdl:input message="tns:SalvaCondominioSoapIn" />
      <wsdl:output message="tns:SalvaCondominioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionaCondominio">
      <wsdl:input message="tns:AdicionaCondominioSoapIn" />
      <wsdl:output message="tns:AdicionaCondominioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <wsdl:input message="tns:ApagarSoapIn" />
      <wsdl:output message="tns:ApagarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CondominioWebSoap" type="tns:CondominioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaLista">
      <soap:operation soapAction="http://tempuri.org/RetornaLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaItem">
      <soap:operation soapAction="http://tempuri.org/RetornaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaCondominio">
      <soap:operation soapAction="http://tempuri.org/SalvaCondominio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionaCondominio">
      <soap:operation soapAction="http://tempuri.org/AdicionaCondominio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <soap:operation soapAction="http://tempuri.org/Apagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CondominioWebSoap12" type="tns:CondominioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaLista">
      <soap12:operation soapAction="http://tempuri.org/RetornaLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaItem">
      <soap12:operation soapAction="http://tempuri.org/RetornaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaCondominio">
      <soap12:operation soapAction="http://tempuri.org/SalvaCondominio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionaCondominio">
      <soap12:operation soapAction="http://tempuri.org/AdicionaCondominio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <soap12:operation soapAction="http://tempuri.org/Apagar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CondominioWeb">
    <wsdl:port name="CondominioWebSoap" binding="tns:CondominioWebSoap">
      <soap:address location="http://localhost:1186/WebServices/CondominioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="CondominioWebSoap12" binding="tns:CondominioWebSoap12">
      <soap12:address location="http://localhost:1186/WebServices/CondominioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>