SistemaConservadora/Service References/RecadosWeb/RecadosWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RetornaLista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaListaResult" type="tns:ArrayOfRecado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="recado" nillable="true" type="tns:recado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="recado">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="idrecados" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Título" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Texto" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="idcondominios" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="condominioReference" type="tns:EntityReferenceOfcondominio" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityReferenceOfcondominio">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityReference" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityReference" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:RelatedEnd">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RelatedEnd" abstract="true" />
      <s:element name="RetornaItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaItemResult" type="tns:recado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvaRecado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recado" type="tns:recado" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalvaRecadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SalvaRecadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionaRecado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recado" type="tns:recado" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionaRecadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdicionaRecadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Apagar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="acesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApagarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ApagarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetornaListaSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaLista" />
  </wsdl:message>
  <wsdl:message name="RetornaListaSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaListaResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaItemSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaItem" />
  </wsdl:message>
  <wsdl:message name="RetornaItemSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaItemResponse" />
  </wsdl:message>
  <wsdl:message name="SalvaRecadoSoapIn">
    <wsdl:part name="parameters" element="tns:SalvaRecado" />
  </wsdl:message>
  <wsdl:message name="SalvaRecadoSoapOut">
    <wsdl:part name="parameters" element="tns:SalvaRecadoResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionaRecadoSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionaRecado" />
  </wsdl:message>
  <wsdl:message name="AdicionaRecadoSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionaRecadoResponse" />
  </wsdl:message>
  <wsdl:message name="ApagarSoapIn">
    <wsdl:part name="parameters" element="tns:Apagar" />
  </wsdl:message>
  <wsdl:message name="ApagarSoapOut">
    <wsdl:part name="parameters" element="tns:ApagarResponse" />
  </wsdl:message>
  <wsdl:portType name="RecadosWebSoap">
    <wsdl:operation name="RetornaLista">
      <wsdl:input message="tns:RetornaListaSoapIn" />
      <wsdl:output message="tns:RetornaListaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaItem">
      <wsdl:input message="tns:RetornaItemSoapIn" />
      <wsdl:output message="tns:RetornaItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalvaRecado">
      <wsdl:input message="tns:SalvaRecadoSoapIn" />
      <wsdl:output message="tns:SalvaRecadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionaRecado">
      <wsdl:input message="tns:AdicionaRecadoSoapIn" />
      <wsdl:output message="tns:AdicionaRecadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <wsdl:input message="tns:ApagarSoapIn" />
      <wsdl:output message="tns:ApagarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecadosWebSoap" type="tns:RecadosWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaLista">
      <soap:operation soapAction="http://tempuri.org/RetornaLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaItem">
      <soap:operation soapAction="http://tempuri.org/RetornaItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaRecado">
      <soap:operation soapAction="http://tempuri.org/SalvaRecado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionaRecado">
      <soap:operation soapAction="http://tempuri.org/AdicionaRecado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <soap:operation soapAction="http://tempuri.org/Apagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecadosWebSoap12" type="tns:RecadosWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetornaLista">
      <soap12:operation soapAction="http://tempuri.org/RetornaLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaItem">
      <soap12:operation soapAction="http://tempuri.org/RetornaItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvaRecado">
      <soap12:operation soapAction="http://tempuri.org/SalvaRecado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionaRecado">
      <soap12:operation soapAction="http://tempuri.org/AdicionaRecado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <soap12:operation soapAction="http://tempuri.org/Apagar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecadosWeb">
    <wsdl:port name="RecadosWebSoap" binding="tns:RecadosWebSoap">
      <soap:address location="http://localhost:1186/WebServices/RecadosWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="RecadosWebSoap12" binding="tns:RecadosWebSoap12">
      <soap12:address location="http://localhost:1186/WebServices/RecadosWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>